input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 input[type=number] {
   -moz-appearance: textfield;
 }

 
html {
    min-height: 100%;
    position: relative;
    min-width: 100%;   
   
  }
  button{
    font-family: "Montserrat";
  }

h3{
  text-transform: capitalize;
  font-weight: bold;
}
#pop{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header{
 background-image: linear-gradient(to bottom right, #00A2E4, cyan);
color: white;
 background-color: white;
}
  .h1{
   text-align: center; 
  }
  div:nth-last-child{
padding: 0%;
margin-bottom: 0;
  }
  .hiddenpara{
    display: none; 
    margin-top:15%;
    text-align: center; 
    font-family: ubuntu; 
    font-weight: bolder;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    margin: auto;
    border-radius: 10px;
    padding-left: auto;
      font-family:"ubuntu";
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    height: auto;
    word-wrap: break-word;
    height: auto;   
    padding-right: 10px;
  }
  .desc {
    position: absolute;
    color: #fff;
    bottom: 52px;
    left: 18px;
    font-size:20px;
}


  .highlight {
      background-color:#e9f7ff!important;
      color:#000828!important;
      border-bottom:10px solid #000828!important;
  }


.btnss{
  display: inline;
   color:  #1746A0;
      border-radius:16px;
      font-family: "ubuntu";     
      font-weight: bolder ;   
      font-weight: bolder;
      background-color: transparent;
      outline: none;
      border-color:  #1746A0; 
    }

.btnss:hover {
background-color:  #1746A0;
color: white;

}

.dib{
  background-image: url("/images/img2.jpg");
}

.btnss3{
  display: inline;
   background-color: transparent;
   color:  black;
      border-radius:16px;
      font-family: "ubuntu";
      border-color:  #1746A0;
      font-weight:400 ;
  }

.btnss3:hover{
background-color:  white;
color: black;

}

.hmim{
  border: none;
   font-family:ubuntu;
    font-weight: bold;
}

.hmtn{
  font-family: ubuntu;
  color: white;
   border-color: white;
    margin-left: 20px;
    margin-bottom:0%;
    border-radius: 16px;
}

.btnss2{
  display: inline;
  background-color:  #1746A0;
    color:  white;
      border-radius:16px;
      font-family: "ubuntu";
      border-color:  #1746A0;
      font-weight: bolder ;
  }

.btnss2:hover{
  background-color: transparent;

  color:  #1746A0;

}
  
  .card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
  }
  
.j{
  height: auto;
}


  .bg{
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .navbar-brand{
      font-size: 30px;
      font-family: "ubuntu";
      font-weight:1000;
     
  
     
      
      
  }
li{
  padding-bottom: 5px;
}
  
 
  .padd:last-child{
    padding-bottom: 10px;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 0px;
      border: 0;
      border-radius: 5.0px;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: auto;
      
  }


  

  #br{
    font-family: "ubuntu";
      font-size: 5.5rem;
    font-weight: bold;   
}


#gy{
  color: #fff;
  /* color: linear-gradient(to bottom right, #00A2E4, cyan); */
  /* color: #1746A0; */
  
}

  .footer-padding {
      padding-bottom: 60px;

    
     
     
  }
 
  
  
  
  .footer {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      background: grey;
   
      margin-top: auto; 
      left: 0px;
      border-radius: 5px;
     
   
     
  }
  
  .footer p {
      margin-top: auto;
      font-size: 12px;
    color: #fff;
   
    
  }
  .inside{
    padding: 7px;   
  }
  #m
  {
    
   padding: 13px;
  }

  h3{
    margin-top: 0%;
    background: #1746A0;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    text-align: center; 
     margin-right: 1%;
     margin-left: 1%;

  }

 
  .capitalize{
    text-transform: capitalize;
  }
 
  .y{
    color: white;
  }
 .gig0{
   background-color: transparent;
 }

.n{
 
 margin-top: 5px;
  width: auto;
  font-family: "Montserrat";
  

}
.x{
  margin-top: auto;
}
.q{
 height: auto;
 margin: 1%;
 
}
.gig{
  padding-top: .5%;
 

}

.n1{
  color: red;;
}

.y6{
  padding-top: 5px;
  margin: 10px;
 padding-left: 10px;
 height: auto;
 padding-right: 10px;
}
.linking{
  color: black;
 

  
}
.linking{
  margin: auto;
  margin-bottom: 4px;
}

.i0{
position: center;
}


#l{
  padding-bottom: 10px;
}

#p{
  margin-left: 30px;
  color: red;
  text-transform:capitalize;
}
#n{
  margin-left: 30px;
  margin-bottom: 10px;
}

.p{
  padding-left: 10px;
  margin-left: 10px;

}

#h{
  text-align: center;
 
  background: #1746A0;
 
  margin-top: 0px;
  color: whitesmoke;
  border-radius: 5px;
 margin: 10px;
 

}



.h21{
  background-color: #1746A0;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  padding-top: 10px;
 
}

.b{
  display: block;


}
.n07{
  text-align: center;
}

#fo{
  text-align: center;
  color: red;
}

.i{
  margin-top: 24px;
  margin-right: 30px;
}


.su{
 background-color: white;
 color: black;
 text-align: center;
 font-family: "Montserrat";
}
.y61{
  position: center;
 margin-bottom: 5px;
}


.g9{
  
  position: fixed;
  height: 60px;
  width: 60px;
  line-height: 60px;
  right: 50px;
  bottom: 60px;
 
 
  border-radius: 50%;
  background-color: #1746A0;
 

  
}
.cen0{
  margin: auto;
  width: 90%;
}




.g9:active{
  border-radius: 50%;
  border-color: ivory;
}
.fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
color: azure;
}


.im{
  position: absolute;
  width: 30px;
  height: 35px;
  bottom: 0px;
  padding-right:0px;

}

#u70{
  font-family: "ubuntu";
  font-weight: bold;
}

#disk{
 text-align: left;
 padding-top: 10px;
}


@media (min-width: 1028px) {
  .bg{
    margin-left: 3%;
    margin-right: 3%;
  }
  #edia{
float: right;

  }
  #media{
   float: right;
  }

  #fe4{
    float: right;
  }
 
  #fe5{
    float: right;
  }
  .navbar-brand{
    font-size: 60px;
    font-family: "ubuntu";
    font-weight:1000;

}
.g0{
  width: 720.50px;
}
.footer{
  height: auto;
}



}

@media (min-width: 670px) {
  .im{
    position: absolute;
    width: 60px;
    height: 65px;
    bottom: 5px;
    padding-right:5px;
    padding-top: 0px;
    top:0px;
    padding-top: 2px;
    margin-left: 20px;
  /* padding-right: 10px; */
}
 .navbar-brand{
  font-size: 60px;
  font-family: "ubuntu";
  font-weight:1000;
  padding-left: 50px;
  
}

.g9{
  
  position: fixed;
  height: 60px;
  width: 60px;
  line-height: 60px;
  right: 0px;
  bottom: 0px;
 
  border-radius: 50%;
  background-color: aqua;
 

  
}}
@media (max-width: 670px){
  .im{
    position: absolute;
    width: 30px;
    height: 35px;
    bottom: 17px;
    padding-right:0px;
    margin-left: 5px;
    top: 20px;
    margin-bottom: 10px;
  
  }
  .footer{
    left: 0px;
    right: 0px;
    align-self: center;
   
  }
  .g9{
  
    position: fixed;
    height: 60px;
    width: 60px;
    line-height: 60px;
    right: 20px;
    bottom: 20px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
}

/* @media(min-width: 765px ){
  .heade{
  margin-left: 35px;
  }
  } */

  @media(max-width:800px){
    .gyane{
      height: 75px;
      width:75px;
    }
  } 
  
  @media(min-width:800px){
    .gyane{
      height: 75px;
      width:75px;
    } 
    .dib{
      height:400px;
    }
  }


  @media(max-width:400px){
    .gyane{
      height: 2px;
      width:22px;
  /* margin-left: 44%; */
  float: right;
   
    }
.dib{
  height: 200px;
  font-family: "Montserrat";
  font-weight: bold;
  
}
.disp{
  font-weight: 100px;
  font-size:2.25rem;
}
  }
  @media(max-width:600px){
    .gyane{
      height: 50px;
      width:45px;}
  }
  @media(min-width:801px){
    .gyane{
      height: 125px;
      width:125px;
    }
  }
@media(max-width: 600px){
  .ty{
    width:120px;
    height: 120px;
  }
  html{
   align-self: center;
  }
  .footer{
    left: 0px;
    right: 0px;
    align-self: center;
   
  }
  .header{
    left: 0px;
    right: 0px;
    align-self: center;
  }
  .g9{
  
    position: fixed;
    height: 60px;
    width: 60px;
    line-height: 60px;
    right: 20px;
    bottom: 20px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
 
}
@media (max-width: 800px) {
  .footer{
    left: 0px;
    right: 0px;
    align-self: center;
   
  }
  .g9{
  
    position: fixed;
    height: 60px;
    width: 60px;
    line-height: 60px;
    right: 20px;
    bottom: 20px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
}

@media (max-width: 400px) {
  .footer{
    left: 0px;
    right: 0px;
    align-self: center;
   
  }
  .g9{
  
    position: fixed;
    height: 50px;
    width: 50px;
    line-height: 60px;
    right: 20px;
    bottom: 20px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
}


@media (min-width: 800px){
  .g9{
  
    position: fixed;
    height: 60px;
    width: 60px;
    line-height: 90px;
    right: 60px;
    bottom: 70px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
  .pagi{
    position: absolute;
  text-align: center;
  margin: auto;
  margin-left: 38.5%;
  bottom: 125px;
  }
}

@media (max-width: 799px){
  .g9{
  
    position: fixed;
    height: 60px;
    width: 60px;
    line-height: 90px;
    right: 40px;
    bottom: 90px;
   
    border-radius: 50%;
    background-color: aqua;
   
  
    
  }
}

@media(min-width: 550px){
  .heade{
  margin-left: 35px;
  }
  }



.ff{
  font-family: Montserrat; font-weight: bolder;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}